h1 Sign up
form(action="/signup", method="post")
  p
    input(type="text", name="name", placeholder="name", autofocus="autofocus")
  p
    input(type="text", name="username", placeholder="username")
  p
    input(type="text", name="email", placeholder="email")
  p
    input(type="password", name="password", placeholder="password")
  p
    input(type="password", name="password_confirmation", placeholder="confirm password")
  p
    input(type="submit", value="Sign up")
